/* mcotrain_styles.css updated 080218 lee */
/* 2006 2006 WebPAC Pro Version, set from 13 July, 2006 */

/*Global tag styles*/
body { font-size:85%; margin: 0; padding: 0; background-color: #f3f3fc; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;  font-style: normal; font-weight: normal; }
/* This rule causes search form elements to resize along with the rest of the text on the page if the user resizes text. */
input, select, textarea { font-size: 95%;}
/* This rule uses CSS2 to give a nicer effect in compliant browsers, while avoiding an annoying display effect in Internet Explorer 6 */
input[type="checkbox"] { background-color: #FFF8EF; }
strong { font-weight: bold; }
hr { color:#333399; }
td { font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;  font-style : normal; font-weight : normal; }
th { font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; }
a:link { color: #000099; }
a:active{ color: #000099; }
a:visited { color: #000099;  } 
a:hover  { color: #a54f72;  } 
A.pageNavAreaText:LINK, A.pageNavAreaText:VISITED {  color: #FFFFFF; text-decoration: none; font-weight: bold; background-color: #333399;  }
A.pageNavAreaText:ACTIVE, A.pageNavAreaText:HOVER {  color: #FFF8EF; text-decoration: none; font-weight: bold; background-color: #333399;  }
.loggedInMessage {padding-left: 6px; font-style: italic; color: red; font-size: 90%; }
.msg { font-size: 125%; color: #FF0000; }
.navigationRow { text-align: center; margin: -3px; }
.navigationRow select { vertical-align: top; }
.nowrap {white-space: nowrap; }
.p { width: 700px; font-size: 100%; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; }
.pageDirectoryArea { color: #000000; text-align: left;  }
.pageInfoAreaHeader { color: #003399; background-color: #f3f3fc; font-size: 110%; font-weight: bolder; text-align: left;  }
.pageMainArea { color: #000000; background-color: #f3f3fc; padding-left: 3px; }
.pageMainAreaHeader { color: #333399; font-size: 110%; font-weight: bolder; text-align: left; }
.pageMainAreaSubHeader { font-weight: bold; font-style: italic}
.pageNavArea { color: #FFFFFF; background: #333399; }
.pageNavAreaBorder { background: #333399; }
.pageNavAreaText {  color: #FFFFFF; text-decoration: none; font-weight: bold; background-color: #333399; }
.searchTipsNavAreaText {  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; color: #FFFFFF; text-decoration: none; font-weight: bold; background-color: #333399; }
.searchTipsHeaderText {  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; color: #333399; text-decoration: none; font-weight: bold; background-color: #f3f3fc; }
.sectionHeading { font-weight: bold; }


/***************************************************************************/
/* III STYLES FROM CUSTOMIZEABLE FORMS */

/*.additionalCopies {padding:0 15px 0 15px;}
.additionalCopies th.bibItemsHeader { color: #000; font-size:90%; font-weight: bold; text-align: center; background:#CCCCFF; border:0px; }
.additionalCopiesNav {}*/

/*controls display of authority redirect information */
/*.authPublicNote { font-size: 80%; background: #333399; }*/

/* control over mainmenu and opacmenu pages layout */
/*.biglogo { margin-left:17px; width:350px; height:125px}*/

/*.button { vertical-align: middle; }*/

/* External Patron Authentication product style */
/* .extpat div { line-height: 1.66em; width: 90%; background: #333399; border: 2px solid #333399; padding: 3px; margin-left: auto; margin-right: auto; text-align: right; }
.extpat strong { display: block; text-align: left; }*/

/* used for search help pages tabbed navigation 
.fields td { padding: 2px; }*/

/*.helpNote { font-size: 90%; font-style: italic; }
.helpspan {padding-right:.5em; font-size:90%}
.holdingsDivider { display:none; margin:-3px}
.holdingsItemsBookings { margin:0 0 8px 0; }
.InnovativeCredit {  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 70%; font-style: italic}*/

/* Used in Related Searches display */
/*div#instructions { font-size: 90%; font-style: italic; }*/

/* External Patron Authentication product style 
.libpat div { line-height: 1.66em; width: 90%; background: #333399; border: 2px solid #333399; padding: 3px; margin-left: auto; margin-right: auto; text-align: right; }
.libpat strong { display: block; text-align: left; }*/

/* External Patron Authentication product styles 
.loginarea { }
.main { margin-left: 20px; margin-right: 20px; }*/

/* used for search help pages tabbed navigation 
#main {margin-left:15px; margin-right:15px; font-size:90%}
#main a:link { color: #333399; }
#main a:hover { text-decoration: underline; }
#main a:visited { color: #333399;  } 
#main div {padding-top:.2em}
#main .tabs a:link, #main .tabs a:visited { color: #000; text-decoration: none; }
#main .tabs a:hover { text-decoration: underline; }*/

/* control over mainmenu and opacmenu pages layout 
.metacatalog { text-align: left; padding: 20px; padding-top: 1em; margin-bottom: 0px; margin-right: 20px; margin-left:20px; background-color: #FFF8EF; vertical-align: top; font-size: 80%; height:150px}*/

/*.popupForm { font-size: 90%; }
.popupForm td { font-size: 90%; }*/

/* These are used in the Related Searches display in the Search Tool 
.rateLabel {color:#333399;}
.rateLabel a:active, .rateLabel a:visited ,.rateLabel a:link {color:#333399;text-decoration:none}
.rateLabel a:hover {color:#333399;text-decoration:underline}
.relSearchLabel { }
.relSearchLink { }
.reqFillTimeMsg { font-style: italic; font-size: 90%; }
.reserveBibs { border: 2px solid #333399; }
.reserveBibs td { border-bottom: 1px solid #333399; }
.reserveBibs input { background-color: #FFF8EF; }*/

/* This is used in the patron views of holds */
/*.suspended td { font-size: 90%; background: #EBECF6 url(/screens/icicles.gif) repeat-x top; }
.topicFeeds { clear: none; float: right; width: 60%; padding: 5px; }
.topicLinks { clear: none; float: left; padding: 5px; width: 35%; }
.topicLinks ul { padding: 5px; padding-left: 20px; margin: 2px; border: 1px solid #333399; }*/

/* This is used in the Materials Booking calendar */
/*.wamCalcDate{ background: #ECECEC; border: 1px silver dashed; font-size: 90%;  }
.xmlframe { width:100%; height:600px; border-width:1px solid #000; }*/

/*div, table { clear: both; }*/

/* WEBPAC PRO */
.spellcheckToolMore { }

/**********************************************************************************/
/* AUTHORITY REDIRECTION CLASSES */
/*authTerm {  }
unauthTerm {  }*/

/* BIBLIOGRAPHIC DISPLAY CLASSES */
/* see also Web options TABLEPARAM_BIB... */
.bibBookingsHeader { font-weight: bold; text-decoration: none; padding: 3px; border: 1px solid #333399; background: #FFFBC6; margin-bottom:8px;}
.bibDetail { }
.bibHoldings {border: 0px; }
.bibHoldingsEntry { font-size:90%; border-bottom:1px solid #EEEEEE;border-top:1px solid #EEEEEE;border-right:1px solid #EEEEEE;}
.bibHoldingsHeader { }
.bibHoldingsLabel { font-size:90%; border-bottom:1px solid #EEEEEE;border-top:1px solid #EEEEEE;border-left:1px solid #EEEEEE;}
.bibHolds { font-size:90%; border: 1px solid #333399; }
.bibHoldsEntry { font-size:90%; border: 1px solid #333399; }
.bibInfo { }
.bibInfoData {font-size:75%; }
.bibInfoEntry { }
.bibInfoLabel { width: 15%; font-size:75%; text-align: right; padding-right: 1em; background-color: #CCCCFF; font-weight: bold; font-style: italic; }
.bibItems { border:0px; padding:0 3px 3px 3px; margin:0px;}
.bibItemsEntry { color: #000; text-align: left;font-size:90%; }
.bibItemsEntry td {border-bottom:1px solid #EEEEEE;font-size:90%; }
.bibItemsHeader { color: #000;font-size:90%; font-weight: bold; text-align: left; border-bottom:1px solid #CCCCFF;}
.bibItemsLabel { }
.bibLicense { }
.bibLicenseEntry { color: #000000; background-color: #f3f3fc; text-align: left; }
.bibLicenseHeader { color: #FFFFFF; background: #333399; font-weight: bold; text-align: left; }
.bibLinks { border: 1px solid #333399; }
.bibOrder { border: 1px solid #333399; font-size:90%;}
.bibOrderEntry { }
.bibPager { text-align: center; font-size:85%; padding:5px 5px 0 0; }
.bibRecordLink { font-size:82%; padding-left: 6px; font-style: italic; }
.bibResource { }
.bibResourceBrief { }
.bibResourceCaption { }
.bibResourceEntry td { font-weight: bold; }
.bibResourceHeader { }
.bibResourceLicense td { padding-bottom: 5px; }
.bibResourceLicenseEntry { background: #FFF99D; }
.bibResourceSubEntry { border-bottom: 1px solid blue; background-color: #FFFBC6; font-style: italic; }
.bibResourceTable, .browseResourceTable { margin-top: 10px; border:0px; }
.bibResourceTableEntry, .browseResourceTableEntry { font-size: 85%; font-weight: normal; padding-left: 1px; background:#CCCCFF;}
.bibResourceTableHeader, .browseResourceTableHeader { color:#fff;font-weight: bold; font-size: 85%; background: #333399; padding: 1px; text-align: center; border-bottom:1px solid #7e4a1f; } 
.bibScreen { }
.bibSearchtool { background:#CCCCFF; padding:5px 0 0 0; width:75%; text-align: center; font-size: 80%; }
.bibThumbnails { }
.bibTOC { width: 90%; font-size: 90%; margin-left: 30px; border: 1px solid #333399; padding: 3px; margin-bottom: 3px; }
.bibTOC td { border-bottom: 1px solid #333399; }
.bibXML { }

/* BOOKINGS DISPLAY CLASSES */
.available { font-weight: bold; color: green; }
.availLimMessage { font-style: italic; text-align: left; }
.bookingsConfirmMsg { font-weight: bold; text-decoration: none; padding-bottom: 5px; background: #FFFBC6; }
.bookingsItemsEntry { }
.bookingsItemsHeader { }
.bookingsLegend { }
.bookingsLocation { }
.bookingsRepeat { margin-left: 15px; margin-right: 15px; border: 1px solid #333399; padding: 3px; }
.bookingsRepeatNone { }
.bookingsRepeatDaily { }
.bookingsRepeatWeekly {  }
.bookingsRepeatWeeklyDay { margin-left: 30px; }
.bookingsRepeatMonthly {  }
.bookingsEndsOn {  }
.bookingsSelect { width: 90%; margin-left: 5%; margin-bottom: 1em; }
.bookingsSelectCal { width: 90%; margin-left: 5%; text-align: center; background: #333399; border: 2px solid #333399; margin-bottom: 1em; }
.bookingsSelectCal table { margin: auto; border: none; font-size: 95%; } 
.bookingsSelectCal th { text-align: center; border: none; } 
.bookingsSelectCal td { border: 1px solid #333399; }
.bookingsSelectEndtime { margin-left: 10px; }
.bookingsSelectRepeat { margin-top: 5px; margin-bottom: 5px; }
.bookingsSelectTime { background: #333399; border: 2px solid #333399; padding: 3px; }
.closed { font-weight: bold; color: red; }
.errormessage { font-size: 125%; color: #FF0000; }
.errormessage h3 { display:inline; }
.unavailable { font-weight: bold; color: black; background: #FFFFFF; }
.unpadded { margin-bottom:auto; margin-top:auto; }

/* BRIEFCIT DISPLAY */
.briefcitActions { padding:2px 0 2px 0;text-align: left; }
.briefcitDetail { font-size: 75%; padding:0 0 0 4px; }
.briefcitDetail img { padding-top: 1px; }
.briefcitEntryNum { font-size: 75%;  }
.briefcitExtras { font-size: 80%; text-align: center; white-space: nowrap; }
.briefcitExtras img { padding-bottom: 1px; }
.briefcitItems em { font-size: 90%; background-color: #FFFBC6; }
.briefcitItems table { width: 90%; background-color: #FFFBC6; }
.briefcitItems th, .briefcitItems td { font-size: 85%; background-color: #FFFBC6; }
.briefcitItems .bibItemsHeader { padding: 0px; background-color: #FFFBC6; }
.briefcitResultInfo { text-align: left; font-size:90%; }
.briefcitRequest { font-size: 75%; text-align:left; padding:0 0 0 2px; }
.briefCitRow { border-top: 1px solid #CCCCFF; }
.briefcitStatus { font-weight: bold; }
.briefcitTitle { width:70%; font-weight: bold; }

/* BROWSE DISPLAY CLASSES */
/* See also Web options BROWSE_HEADERS, TABLEPARAM_BROWSE..., TABLEPARAM_BRIEFCIT */
.browseEntry { color: #000000; font-weight: normal; }
.browseEntry td { border-top:1px solid #CCCCFF;}
.browseEntryData { text-align: left; }
.browseEntryEntries { text-align: center; }
.browseEntryMark { font-weight: bold; }
.browseEntryMedia { vertical-align: middle; }
.browseEntryNum { text-align: center; }
.browseEntryRelevance { background:#CCCCFF;}
.browseEntryYear {text-align: center; }
.browseHeader { text-align:left; font-size: 90%; background:#CCCCFF; color:#000000;  }
.browseHeaderData { text-align:left; font-size: 80%; padding:0 0 0 3px; }
.browseHeaderEntries {  }
.browseHeaderMark { }
.browseHeaderMedia { }
.browseHeaderNum {  }
.browseHeaderRelevance {  }
.browseHeaderYear { }
.browseList { }
.browsePager { }
.browseResourceTableEntry { color: #000000;  text-align: center; }
.browseSaveJump { color: #000000; background: #f3f3fc; text-align: left; }
.browseSaveJump form { display: inline; }
.browseScreen { }
.browseSearchtool { background-color: #f3f3fc; margin-left: auto; margin-right: auto; margin-bottom: -3px; padding-left: 3px; padding-right: 3px; border: 1px solid #333399; }
.browseSearchtoolMessage { font-size: 90%; } 
.browseSubEntry { color: #000000; font-weight: normal;  }
.browseSubEntryData { }
.browseSubEntryEntries { }
.browseSubEntryMedia { }
.browseSubEntryRelevance { }
.browseSubEntryYear { }
.browseSuperEntry td { background: #CCCCFF; font-size: 85%; padding:0 0 0 3px;  }
.yourEntryWouldBeHere { }
.yourEntryWouldBeHereData { border: 2px solid #999999; background: #FFFBC6; color: #000000; font-weight: bold; }

/* FEEDS DISPLAY CLASSES */
.feedtable a:link, .feedtable a:visited, .feedtable a:active  {color:#000; text-decoration:underline; font-size:90%;}
.feedtable a:hover  {color:red; text-decoration:underline;font-size:90%;}
rssChannelNoContent
.rssChannelEntries { padding:5px 0 5px 0 ; }
.rssChannelEntry { padding: 4px; }
.rssChannelEntryDate { font-size: 60%; font-style: italic; }
.rssChannelEntryDesc { font-size: 70%; }
.rssChannelEntryHead { font-size: 70%; font-weight: bold; display: list-item; padding-bottom: 2px; }
.rssChannelImage img { border: 0; margin-top: 2px; }
.rssChannelTitle { font-weight: bold; font-size: 110%; }
.rssFeed { padding: 5px; margin: 2px; border: 1px solid #333399; font-size: 90%; }
 
/* FEATURED LISTS DISPLAY CLASSES */
.ftlistHeader { }

/* LIMIT/SORT DISPLAY CLASSES */
/* Search page - srchmod.html */
.limitEntriesFoundNum { font-size: 90%; font-style: italic; }
.limitEntriesFoundText { font-size: 90%; font-style: italic; }
.limitSearchTerm { font-size: 90%; font-weight: bold; }
.limitSearchTypeIndex, .limitSearchTypeText { font-size: 90%; }

/* PATRON RECORD DISPLAY CLASSES */
/* see also Web options TABLEPARAM_PATDISP, TABLEPARAM_PATFUNC, BUT_PAT_ graphics options. */
.patActionsLinks { text-align: center; clear: both; padding: 10px; }
.patActionsLinks img { vertical-align: middle; }
.patDisplay { }
.patDisplayFunc {}
.patDisplayInfo { }
.patFunc { border-top: 2px solid #333399; border-spacing: 0; width: 100%; }
.patFunc td { padding: 5px; font-size: 90%; border-bottom: 1px solid #333399; }
.patFuncArea { border: 2px solid #333399; margin: 3px; }
.patFuncArea form { display: inline; }
.patFuncArea img { padding-top: 2px; } 
.patFuncAuthor { }
.patFuncBookDate { }
.patFuncBtns { color: #000000; background-color: #f3f3fc; }
.patFuncCallNo { }
.patFuncCancel { text-align: center; }
.patFuncDate { }
.patFuncDetails { }
.patFuncEntry { color: #000000; background-color: #f3f3fc; font-weight: normal;  }
.patFuncFinesDetailAmt { }
.patFuncFinesDetailDate { }
.patFuncFinesDetailDateLabel { }
.patFuncFinesDetailType { }
.patFuncFinesEntryDetail td { border-bottom: 1px solid #333399; }
.patFuncFinesEntryTitle { color: #000000; background-color: #f3f3fc; font-weight: normal;  }
.patFuncFinesTotal { }
.patFuncFinesTotalAmt { font-weight: bold; }
.patFuncFinesTotalLabel { }
.patFuncFreeze { }
.patFuncHeaders { color: #FFFFFF; background: #333399; padding-left: 3px; padding-right: 3px; font-size: 80%; }
.patFuncMark { }
.patFuncModifyPatInfo { }
.patFuncModifyPIN { }
.patFuncModifyPINExample { }
.patFuncNoEntries { }
.patFuncPickup { }
.patFuncPSrchBtn { }
.patFuncPSrchType { }
.patFuncRating { }
.patFuncRenewCount { font-style: italic; color: red; }
.patFuncStatus { }
.patFuncTitle { font-weight: bold; }
.patHelpLinks { border: 1px solid #333399; border-top: none; width: 300px; padding: 3px; margin-left: 5px; margin-right: 5px; background-color: #f3f3fc; }
.patHelpLinks a { text-align: right; display: block; border-bottom: 1px #333399 solid; padding: 2px; }
.patImage { }
.patInfo { }
.patMainFuncs { float: left; }
.patNameAddress { text-align: left; border: 1px solid #333399; width: 350px; float: left; padding: 5px; }
.patSearchLinks { }
.patStatusLinks { border: 1px solid #333399; width: 300px; padding: 3px; margin-left: 5px; margin-right: 5px; background-color: #f3f3fc; float: left; }
.patStatusLinks a { text-align: left; display: block; border-bottom: 1px #333399 solid; padding: 2px; }

/* REQUEST DISPLAY CLASSES */
/*on_ice
reqFilltimeMsg*/
 
/* RESOURCE DISPLAY CLASSES */
.resourceBib { }
.resourceBibEntry { color: #000000; background-color: #f3f3fc; text-align: left; }
.resourceBibHeader { color: #FFFFFF; background: #333399; font-weight: bold; text-align: left; }
.resourceInfoData { }
.resourceInfoLabel { background-color: #f3f3fc; font-style: italic; }
.resourceLicense { }
.resourceLicenseEntry { color: #000000; background-color: #f3f3fc; text-align: left; }
.resourceLicenseHeader { color: #FFFFFF; background: #333399; font-weight: bold; text-align: left; }
.resourceLinkEntry { }
.resourceResource { }

/* WEBBRIDGE DISPLAY CLASSES */
/*wbbody
wbcategory
wbheading
wbpanelcategory
wbsubheading
wblinkdisplay
wblinkfield
wblinktext
wbresourcelist*/
 
/* XML DISPLAY CLASSES */
/*xmlframe*/
 





